    
  <div class="content">

    <div class="container">
<div class="column one-fourth">



       <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Options</div>
 

  <!-- List group -->
  <ul class="list-group">

    <li class="list-group-item">Cras justo odio</li>
     <!-- do a ruby for each here, check DB -->

   

  </ul>
</div>



</div>

<div class="column three-fourths">
<div class="panel panel-default">
  

Content


</div>
</div>




</div>






</div>
